//@import "reset";
//@import "syntax";
@import "bootstrap";


body {
  min-height: 2000px;
  padding-top: 50px;
  //  background-color: black;
}
.black-part{
  background-color:black;
  img{
    width: 100%;
  }
}
.gray-part{
  background-color:#F5F5F5;
}
#nav-logo{
  margin-top: -8%;
  height:150%;
}
.right-align{
    text-align: right;
}
.reduced-body{
  padding-left:12%;
  padding-right: 12%;
  word-wrap: break-all;
}
.row{overflow: hidden;}
